<div class = "grid">
    <div class="details">
        <h4><%=@listing.title%></h4>
        <p><i class="fas fa-map-marker-alt"></i> <%=@listing.location%></p>
        <p><i class="fas fa-user-alt"></i> <%=@listing.description%></p>
        <p><i class="fas fa-dollar-sign"></i> <%=@listing.price_per_day%> per day</p>
        <p>hosted by: <%=@listing.user.email%></p>
    </div>
</div>
