<div id="map"
     style="width: 90%; height: 200px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class = "grid">
    <div class="details">
        <h4><%=@listing.title%></h4>
        <p><i class="fas fa-map-marker-alt"></i> <%=@listing.location%></p>
        <p><i class="fas fa-user-alt"></i> <%=@listing.description%></p>
        <p><i class="fas fa-dollar-sign"></i> <%=@listing.price_per_day%> per day</p>
        <p>hosted by: <%=@listing.user.name%> <%=@listing.user.surname%></p>
        <% @listing.photos.each do |photo| %>
          <p><%=cl_image_tag photo.key %></p>
        <%end%>
    </div>
</div>

<% if @listing.reviews.any? %>
<h4>Reviews:</h4>
<% @listing.reviews.each do |review| %>
  <p><%=review.content%></p>
  <p><%=review.rating%></p>
  <% end %>
<% else %>
  <p>This listing doesn't have any reviews</p>
 <% end %>


<% if @listing.user != current_user && @user.pets.any? %>
  <%= link_to "Book this listing!",  new_listing_booking_path(@listing.id), class: "btn btn-success"  %>
<% elsif @listing.user != current_user %>
  <%= link_to "Add a pet to be able to book a listing", new_pet_path, class: "btn btn-primary" %>

<% end %>
