<div class="main">
  <h1 class="page-title"></h1>
  <p class="page-description"></p>

  <div class="row">
    <% @pets.each do |pet| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= link_to pet do  %>
        <div class="listing-card">
          <div class="card">
            <div class="card-content">
              <div class="content">
                <h3 class="title"><%= pet.name %></h3>
                <p class="description">
                 <ul>
                  <li>owner: <%=pet.user.name%> <%=pet.user.surname%></li>
                  <li><%=cl_image_tag pet.photo_url.key, height: 80, width: 100, crop: :fill%></li>
                 </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    <%end%>
  </div>

 </div>
