<% if @accepted_guest_future_stay%>
<div class="booking-show-wrapper form-centered">
    <div class="booking-details">

    <p class="date-of-stay">Enjoy your stay from <%=@booking.starting_at%> until <%=@booking.ending_at%></p>
    <p><span class="bold"><i class="fas fa-pound-sign"></i> (total):</span> <%= @to_pay%> (<%=(@booking.ending_at - @booking.starting_at).to_i%> days, <%=@booking.listing.price_per_day%> per day)</p>
      <p class="pet-link"><span class="bold">Guest pet:</span>
        <%= link_to pet_path(@guest_pet.id) do  %>
        <%= @guest_pet.name %>
        <%end%></p>
    <div class="booking-buttons-wrapper">
      <%= link_to "View the listing", listing_path(@booking.listing_id), class: "btn btn-show-more" %>
      <% if @able_to_review  %>
      <%= link_to "Rate the listing", new_listing_booking_review_path(@booking.listing_id, @booking.id), class: "btn btn-show-more btn-rate-booking" %>
      <% end %>
    </div>
    </div>
    <div class="booking-photos">
    <div class="fotorama" data-allowfullscreen="true" data-transition="crossfade" data-fit="cover" data-loop="true" data-autoplay="3000" data-keyboard="true" data-nav="thumbs" >
      <% @booking.listing.photos.each do |photo| %>
        <%=cl_image_tag photo.key%>
      <%end%>
    </div>
    </div>
</div>

<% elsif @accepted_guest_past_stay %>
<div class="booking-show-wrapper form-centered">

    <div class="booking-details">
      <p class="date-of-stay">You stayed from <%=@booking.starting_at%> to <%=@booking.ending_at%></p>
      <p><span class="bold"><i class="fas fa-pound-sign"></i> (total):</span> <%= @to_pay%> (<%=(@booking.ending_at - @booking.starting_at).to_i%> days, <%=@booking.listing.price_per_day%> per day)</p>
      <p class="pet-link"><span class="bold">Guest pet:</span>
        <%= link_to pet_path(@guest_pet.id) do  %>
        <%= @guest_pet.name %>
        <%end%></p>
    <div class="booking-buttons-wrapper">
      <%= link_to "View the listing", listing_path(@booking.listing_id), class: "btn btn-show-more" %>
      <% if @able_to_review  %>
      <%= link_to "Rate the listing", new_listing_booking_review_path(@booking.listing_id, @booking.id), class: "btn btn-show-more btn-rate-booking" %>
      <% end %>
    </div>
    </div>

    <div class="booking-photos">
    <div class="fotorama" data-allowfullscreen="true" data-transition="crossfade" data-fit="cover" data-loop="true" data-autoplay="3000" data-keyboard="true" data-nav="thumbs" >
      <% @booking.listing.photos.each do |photo| %>
        <%=cl_image_tag photo.key%>
      <%end%>
    </div>
    </div>

</div>



<% elsif @pending_guest_future_stay %>
<div class="booking-show-wrapper form-centered">
    <div class="booking-details">
    <p class="pending-booking"><i class="fas fa-question-circle"></i>Your request is still pending </p>
    <p class="date-of-stay">You requested to stay from <%=@booking.starting_at%> until <%=@booking.ending_at%></p>
      <p><span class="bold"><i class="fas fa-pound-sign"></i> (total):</span> <%= @to_pay%> (<%=(@booking.ending_at - @booking.starting_at).to_i%> days, <%=@booking.listing.price_per_day%> per day)</p>
      <p class="pet-link"><span class="bold">Guest pet:</span>
        <%= link_to pet_path(@guest_pet.id) do  %>
        <%= @guest_pet.name %>
        <%end%></p>
    <div class="booking-buttons-wrapper">
      <%= link_to "View the listing", listing_path(@booking.listing_id), class: "btn btn-show-more" %>
      <% if @able_to_review  %>
      <%= link_to "Rate the listing", new_listing_booking_review_path(@booking.listing_id, @booking.id), class: "btn btn-show-more btn-rate-booking" %>
      <% end %>
    </div>
    </div>

    <div class="booking-photos">
    <div class="fotorama" data-allowfullscreen="true" data-transition="crossfade" data-fit="cover" data-loop="true" data-autoplay="3000" data-keyboard="true" data-nav="thumbs" >
      <% @booking.listing.photos.each do |photo| %>
        <%=cl_image_tag photo.key%>
      <%end%>
    </div>
    </div>
</div>

<% elsif @pending_guest_past_stay %>
<div class="booking-show-wrapper form-centered">
    <div class="booking-details">

        <p class="missed-booking"><i class="fas fa-exclamation-circle"></i>You missed it! Your request was not accepted on time. </p>
        <p class="date-of-stay">You requested to stay from <%=@booking.starting_at%> until <%=@booking.ending_at%></p>
        <p><span class="bold"><i class="fas fa-pound-sign"></i> (total): </span><%= @to_pay%> (<%=(@booking.ending_at - @booking.starting_at).to_i%> days, <%=@booking.listing.price_per_day%> per day)</p>
        <p class="pet-link"><span class="bold">Guest pet:</span>
        <%= link_to pet_path(@guest_pet.id) do  %>
        <%= @guest_pet.name %>
        <%end%></p>
        <div class="booking-buttons-wrapper">
          <%= link_to "View the listing", listing_path(@booking.listing_id), class: "btn btn-show-more" %>
          <% if @able_to_review  %>
          <%= link_to "Rate the listing", new_listing_booking_review_path(@booking.listing_id, @booking.id), class: "btn btn-show-more btn-rate-booking" %>
          <% end %>
        </div>
    </div>

    <div class="booking-photos">
    <div class="fotorama" data-allowfullscreen="true" data-transition="crossfade" data-fit="cover" data-loop="true" data-autoplay="3000" data-keyboard="true" data-nav="thumbs" >
      <% @booking.listing.photos.each do |photo| %>
        <%=cl_image_tag photo.key%>
      <%end%>
    </div>
    </div>

</div>

<% elsif @other_user_accepted_guest_future_stay%>

<p><%=@user.name%> will stay from <%=@booking.starting_at%> until <%=@booking.ending_at%></p>
<p>To pay: <%= @to_pay%></p>
<p>Guest pet: <%= @guest_pet.name %> </p>

<% elsif @other_user_accepted_guest_past_stay %>
<p><%=@user.name%> stayed from <%=@booking.starting_at%> to <%=@booking.ending_at%></p>
<p>Paid: <%= @to_pay%></p>
<p>Guest pet: <%= @guest_pet.name %> </p>

<% elsif @other_user_pending_guest_future_stay %>
<p><%=@user.name%>'s request is still pending </p>
<p>Requested to stay from <%=@booking.starting_at%> until <%=@booking.ending_at%></p>
<p>To pay: <%= @to_pay%></p>
<p>Guest pet: <%= @guest_pet.name %> </p>

<% else @other_user_pending_guest_past_stay %>
<p><%=@user.name%> missed it! The request was not accepted on time. </p>
<p>Requested to stay from <%=@booking.starting_at%> until <%=@booking.ending_at%></p>
<p>To pay: <%= @to_pay%></p>
<p>Guest pet: <%= @guest_pet.name %> </p>

<%end%>









