<div class="container">
  <h1>My Dashboard</h1>


<div class="row">
    <div class="col-xs-6">
      <h3>Attending</h3>
      <% if @user.booked_listings.any? %>

          <% @user.bookings.each do |booking| %>
          <div class="display">
           <%= cl_image_tag(booking.listing.photos.first.key, height: 100, width: 100, class: 'radius') %>
           <%= booking.listing.title %>, <%= booking.listing.description %>, <%= booking.listing.location %>
           <br>
              <%= link_to "Show more",  booking_path(booking.id), class: "btn btn-success"  %>
             <% if booking.accepted %>
              <p>Status: <i class="fas fa-check-circle"> (confirmed)</i></p>
              <% else %>
              <p>Status: <i class="fas fa-clock"> (pending) </i></p>
              <% end %>
          </div>
          <% end %>

      <% else %>
        <p>You don't have any booked listings.</p>
        <%= link_to "Explore", listings_path %>
      <% end %>
    </div>


    <div class="col-xs-6">
      <h3>Hosting</h3>
      <% if @booking_info.any?%>
          <% @booking_info.each do |l| %>
            <div class="display">
              <%= cl_image_tag(l.listing.photos.first.key, height: 100, width: 100, class: 'radius') %> <%= l.listing.title %>, guest: <%=l.user.name%>, starting at: <%= l.starting_at%>, ending at: <%= l.ending_at%>, to be paid: <%= (l.ending_at - l.starting_at).to_i * l.listing.price_per_day.to_i %>, amount of days: <%= (l.ending_at - l.starting_at).to_i %>, price per day: <%= l.listing.price_per_day %><br>
              <%= link_to "Show guest",  user_path(l.user.id), class: "btn btn-success"  %>

            </div>
          <% end %>

      <% else %>
        <p>You are not currently hosting anybody.</p>
        <%= link_to "Host a pet", new_listing_path %>
      <% end %>
    </div>
  </div>

  <div class="col-xs-6">
  <h4>Incoming Requests:</h4>
    <% if @requests.any? %>
        <% @user.requests.each do |booking| %>
          <div class="display">
            <%= booking.user.email %>
            <%= link_to "Confirm", accept_booking_path(booking), method: :post, class: 'btn btn-default btn-primary' %>
        <% end %>
    <% else %>
    <div class="noreq"
       <p>You don't have any incoming requests.</p>
     </div>
    <% end %>
          </div>

  </div>
</div>
