<%= form_tag listings_path, method: :get do %>
  <%= number_field_tag :max_price_query,
    params[:query],
    :required => true,
    class: "form-control",
    placeholder: "Maximum price per day"
  %>
  <%= text_field_tag :location_query,
    params[:query],
    :required => true,
    class: "form-control",
    placeholder: "Where?"
  %>

    <%= number_field_tag :distance_query,
    params[:query],
    :required => true,
    class: "form-control",
    placeholder: "Maximum distance in km"
  %>
<%= submit_tag 'search', class: "btn btn-primary"  %> <%= link_to "Show all",  listings_path, class: "btn btn-success"  %>
<% end %>

  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <p>No results found, please adjust your query or select "Show all" </p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
