<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/zaneta111uba111shula111/image/upload/v1590929285/yerlin-matu-GtwiBmtJvaU-unsplash.jpg);">
  <div class="container-home">
    <h5 class="small-device-title">Find a perfect hotel for your cat!</h5>

    <div class="search-form">
    <%= form_tag listings_path, method: :get do %>
      <%= text_field_tag :location_query,
        params[:query],
        :required => true,
        class: "form-control",
        placeholder: "Location"
      %>

      <%= number_field_tag :distance_query,
        params[:query],
        :required => true,
        class: "form-control",
        placeholder: "Maximum distance (in km)"
      %>

      <%= number_field_tag :max_price_query,
        params[:query],
        :required => true,
        class: "form-control",
        placeholder: "Maximum price per day (in GBP)"
      %>

        <div class="btn-wrapper-big-screen">
          <%= submit_tag 'Search', class: "btn btn-primary"  %>
          <%= link_to "Show all",  listings_path, class: "btn btn-success"  %>
        </div>

      </div>


      <div class="btn-wrapper-small-screen">
        <%= submit_tag 'Search', class: "btn btn-primary"  %>
        <%= link_to "Show all",  listings_path, class: "btn btn-success"  %>
      </div>

    <% end %>

  </div>

  <div class="type-wrapper">
    <h3 class="type">Find a hotel for your cat in: </h3>
    <div class="js-wrapper"><h3 id="type"></h3></div>
  </div>

</div>



<script>
  var js_locations = <%=raw @locations%>;
  var options = {
    strings: js_locations,
    typeSpeed: 75,
    loop: true,
    shuffle: true,
    backDelay: 1500
  };

  var typed = new Typed('#type', options);
</script>

